.cadastrar h1 {
    text-align: center;
}

.cadastrar form {
    background-color: #fff;
    padding: 20px;
    max-width: 500px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .cadastrar form input,
  form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .cadastrar form textarea {
    resize: vertical;
    min-height: 100px;
  }
  
  .cadastrar form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
  }
  
  .cadastrar form button:hover {
    background-color: #45a049;
  }